@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --note-size: 150px;
    --add-btn-size: 35px;
    --add-btn-font: 25px;
    --clr-accent: #2FBE90;
    --clr-accent-hover: #218867;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1C1C1C;
    min-height: 100vh;
}

#app {
    transition: all 0.15s ease-in-out;
}

#app.show {
    opacity: 1;
}

#app.hidden {
    opacity: 0;
    transform: translateX(-100vw);
}

.title {
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 0.5em;
}

.notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--note-size));
    padding: 1em 0em;
    gap: 1em;
    place-content: center;
    /* justify-content: space-evenly; */
    justify-content: center;
}

.note {
    height: var(--note-size);
    padding: 0.8em;
    border: none;
    border-radius: 0.5em;
    background-color: #262626;
    color: white;
    width: var(--note-size);    
}

.note-title {
    color: var(--clr-accent);
    font-size: 1.1rem;
    font-weight: 500;
}

.note-content {
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.add-btn {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: calc(var(--add-btn-size) * 1.5);
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-note {
    width: var(--add-btn-size);
    aspect-ratio: 1;
    background-color: var(--clr-accent);
    border: none;
    border-radius: 50%;
    padding: 1em;
    position: relative;
    cursor: pointer;
}

.add-note:hover {
    background-color: var(--clr-accent-hover);
}

.icon {
    color: white;
    position: absolute;
    font-size: var(--add-btn-font);
    left: 50%;
    transform: translateX(-50%);
    top: -0.7px;
}

.popup {
    padding: 1.5em;
}

.popup-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    opacity: 0;
    transition: all 0.15s ease;
}

.popup-box.show, .popup.show {
    opacity: 1;
}


.popup-title-container {
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--clr-accent);
}


input {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 2px solid #8A9197;
    border: none;
    outline: none;
    padding: 1em;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    padding: 0.2em;
    color: var(--clr-accent);
}

.description {
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    color: white;
    padding: 0.2em;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 400;
    font-size: 1rem;
    height: 80vh;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: calc(var(--add-btn-size) * 1.5);
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uil-save {
    font-size: 1.3rem;
    color: white;
}

.save-btn {
    background-color: var(--clr-accent);
    border: none;
    border-radius: 50%;
    aspect-ratio: 1;
    width: var(--add-btn-size);
}

.save-btn:hover {
    background-color: var(--clr-accent-hover);
}
